<h1>Create a New Essay:</h1>

    <form action="/literary_essays" method="POST">
        <label for="title">Title:</label>
        <textarea name="title" rows=1 columns=10></textarea>
        <br>
        <label for="content">Content:</label>
        <textarea name="content" rows=8 columns=30></textarea>
        <input type="submit" value="Create Essay">
        <br>
    </form>