SHOW
<br>
<%= @literary_essay.title %>
<br>
<%= @literary_essay.content %>

<% if current_user == @literary_essay.user %>
<a href="/literary_essays/#{@literary_essay.id}/edit">Edit Essay</a>

<a href="/literary_essays/#{@literary_essay.id}/delete">Delete Essay</a>
<% end %>