Sign Up:

<form action="/users" method="POST">
  <label for="name">Name: </label>
    <input type="text" name="name" value"">
  <label for="email">E-mail: </label>
    <input type="text" name="email" value"">
  <label for="password">Password: </label>
    <input type="password" name="password" value"">
    <input type="submit" value="Sign Up">
</form>

<a href="/">Back</a>